<div class="ekart-header">
    <div class="ekart-logo">
        ekart
    </div>
    <div class="nav">
        <!-- TOP Menu -->
        <app-top-menu></app-top-menu>
        <div class="bottom-bar">
           <!-- main menu  -->
            <app-main-menu></app-main-menu>
            <div class="search-bar">
                <input type="text" class="search-box" placeholder="Search"/>
                <button class="search-btn">
                    <i class="fa fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        
    </div>
</div>
