<div class="product-container">
<!-- <img [src]="product.pImage">
<p>Name: {{ product.name }}</p>
<p>Price: {{ '$' + product.price }}</p>
<p>Color: {{ product.color }}</p> -->
<!-- we can call a function using string interpolation -->
<!-- <p>Discounted Price: {{ getDiscountedPrice().toFixed(2) }}</p> -->
<!-- we can use ternary operator using string interpolation  -->
<!-- <p>{{product.inStock > 0 ? ' Only' +  product.inStock +  'items left' : 'Not in stock'}}</p> -->

<!-- event binding  -->
<!-- <button (click)="decrementCartValue()">-</button>
<button>{{addToCart}}</button>
<button (click)="incrementCartValue()">+</button> -->

<!-- <input  (input)="onNameChange($event)"/><br>
<p>name={{name}}</p> -->
<app-search></app-search>
<!-- <div *ngFor="let item of listOfString">
<p>Current element of array is: {{item}}</p>
</div> -->
<app-product-list></app-product-list>
</div>